body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(31, 31, 31)), to(#6b6b6b));
    font-family: 'Roboto Mono', monospace;
}

h1 {
    width: 30%;
    color: #14806a;
    font-size: 50px;
    font-style: oblique;
    background-color: #333;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 3.5;
    text-align: center;
    margin: auto;
    border-style: solid;
    border-width: thick;
    border-color: grey;
}

#title {
    vertical-align: middle;
    background-image: url(Protein_composite.png), linear-gradient(to bottom, #1ABC9C, #1abc9c32);
}